<!DOCTYPE HTML>
<html>

  <head>
    <meta charset="utf-8">
    <link href="dist/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body { background-color:#DDD; }
      [class*="col"] { margin-bottom: 20px; }
      img { width: 100%; }
      .well {
        background-color:#CCC;
        padding: 20px;
      }
      .inline-form input {
            display: inline-block;
            width: 100px;
        }	
    </style>
  </head>

  <body>
    <div class="container">


	<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="active"> <a href="#">Accueil</a> </li>
            <li> <a href="#">Ajout/Suppression de voiture</a> </li>
            <li> <a href="#">Garage</a> </li>
            
          </ul>
          
        </div>
      </nav>


      <header class="page-header">
        <h1>Notre garage de luxe</h1>
      </header>
      <section class="row">
        <div class="col-lg-12">
          
          <blockquote>
		Nous sommes un garage spécialisé dans l'entreprosition de voitures de luxe. Nous sommes très selectifs et n'acceptons que les voitures de marques possédant un certain standing. Vous pouvez voir ci-dessus des exemples de voitures que nous avons l'habitude d'entreposer. Vous pouvez voir plus loin une liste exhaustive des marques dont nous acceptons les produits. Vous avez également la liste des attributs qui nous permettent de caractériser les voitures, et les descriptions de ces attributs.
           
          </blockquote>
        </div>
      </section>
      <section class="row">
  <div class="col-xs-12 col-sm-9 col-md-6 ">
	
    <a href="#" class="thumbnail">
      <img src="voiture1.jpg" alt="Voiture" class="img-rounded">
    </a>
  </div>
  <div class="col-xs-12 col-sm-9 col-md-6">
    <a href="#" class="thumbnail">
      <img src="voiture2.jpg" alt="Voiture" class="img-rounded">
    </a>
  </div>
  <div class="col-xs-12 col-sm-9 col-md-6">
    <a href="#" class="thumbnail">
      <img src="voiture3.jpeg" alt="Voiture" class="img-rounded">
    </a>
  </div>
  <div class="col-xs-12 col-sm-9 col-md-6">
    <a href="#" class="thumbnail">
      <img src="voiture4.jpg" alt="Voiture" class="img-rounded">
    </a>
  </div>
  <div class="col-xs-12 col-sm-9 col-md-6">
    <a href="#" class="thumbnail">
      <img src="voiture5.jpeg" alt="Voiture" class="img-rounded">
    </a>
  </div>
  <div class="col-xs-12 col-sm-9 col-md-6 ">
    <a href="#" class="thumbnail">
      <img src="voiture6.jpg" alt="Voiture" class="img-rounded">
    </a>
  </div>
  
  
</section>
	<div class="jumbotron">
  <div class="container">
      <div class="row">
        <section class="col-sm-4">
          <h5>Voici les marques de voiture que nous acceptons:</h5>
          <br>
          <ul>
            <li>Ferrari</li>
            <li>Lamborghini</li>
            <li>Alfa Romea</li>
            <li>Aston Martin</li>
            <li>Porsche</li>
            <li>Audi</li>
            <li>Mercedes</li>
            <li>Buggati</li>
          </ul>
        </section>
      </div>
      <div class="row">
        <section class="col-sm-12">
          <table class="table table-bordered table-striped table-condensed">
            <caption>
            <h4>Les caractéristiques de la voiture</h4>
            </caption>
            <thead>
              <tr>
                <th>Attributs</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Propriétaire</td>
                <td>Le nom et le prénom du propriétaire</td>
              </tr>
              <tr>
                <td>Prix</td>
                <td>Le prix auquel vous avez payé la voiture</td>
              </tr>
              <tr>
                <td>Date de sortie</td>
                <td>La date de sortie du modèle de la voiture</td>
              </tr>
              <tr>
                <td>Modèle</td>
                <td>Le nom du modèle de la voiture</td>
              </tr>
              <tr>
                <td>Version</td>
                <td>Le nom de la version correspondant au modèle ci-dessus</td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
      </div>
	</div>
    </div>
  </body>
</html>
